/* Header Styles */
.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Navigation Styles*/
.navbar__menu ul {
    background: white;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* ---- Base Rules ---- */
body {
    margin: 0;
    /* font-family: 'Merriweather', serif; */
    color: #fff;
}


/* Typeography General*/
h1 {
     /* font-family: 'Fira Sans', sans-serif; */
    font-size: 2em;
    margin: 2em 1rem;
    color: black;
    border: 1px solid blue;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 4em;
        margin: 1.5em 2rem 0em;
    }
}

h2 {
    border-bottom: 2px solid black;
    border-bottom-width: 1px;
    font-size: 4em;
    color: #fff;
    color: black;
}

h2#contact-header {
    border-bottom: none;
}

p {
    line-height: 1.6em;
    color: black;
}

.p-description {
    color: #2c3543;
    font-size: 1.5rem;
    font-weight: 300;
    margin-block-start: 1em; 
    margin-block-end: 2em;
}

.read-seoul {
    font-family: Miller Daily,Georgia,Times,Times New Roman,serif;
}

span {
    font-size: 30px; 
}


a:hover, a:visited, a:link, a:active {
    color: grey;
    text-decoration: none !important;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: 'Give You Glory', cursive;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    text-decoration: none;
}

.cool-link:hover::after {
    width: 100%;
    text-decoration: none;
}

main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 12em;
    background: url(../img/travel.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    min-height: 650px;
    height: 100%;
    text-align: center;
}

.korea-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 90%;
    min-height: 650px;
    top: 10%;
}

.korea-header-letter {
    position: absolute;
    bottom: 58%;
    height: 25%;
    width: 100%;
}

.south-korea {
    font-size: 60px;
    color: white;
    height: 30%;
    text-transform: uppercase;
}

.seoul {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.south-korea-link {
    color: white;
    font-size: 20px;
}

.korea-header-logo{
    position: absolute;
    bottom: 5%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    position: relative;
    min-height: 80vh;
}

.landing__container {
    padding: 1em;
    text-align: left;
    width: 50%;
    height: auto;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

#section1 {
    width: 100%;
    height: auto;
    
}

@media only screen and (max-width: 500px) {
    #section1 {
      width: 100%;
      height: auto;
    }
}

.section1-container {
    background: url(../img/hanok.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.section1-container2 {
    width: 100%;
    max-height: 950px;
    height: 100%;
    padding: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.seoul-description {
    min-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-emphasis: center;
    margin-block-end: 2em;
}

.why-seoul-read-more {
    margin-block-end: 2em;
}

.seoul-image {
    width: 100%;
    height: auto;
    text-align: center;
    margin-block-end: 3em;
}

.seoul-image .image-sliderfade img {
    max-width: 90%;
    width: 100%;
    height: 400px;
}

.seoul-image .image-dot {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

/* image slider */

.image-sliderfade {
    display: none;
}

img {
    vertical-align: middle;
}

.img-caption {
    color: #f2f2f2; 
    font-size: 15px; 
    position: relative; 
    bottom: 30px;
    left: 80px; 
    width: 200px; 
    text-align: left;
  }

.dot {
  height: 5px; 
  width: 5px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: #ddd; 
  border-width: 5 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
}

.active {
    border-color: #666;
}

.fade {
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 2s; 
  animation-name: fade-image; 
  animation-duration: 2s; 
}

@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 

.seoul_description {
    max-width: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 {
    width: 100%;
    height: auto;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    #section2 {
      width: 100%;
      height: auto;
    }
}

@media only screen and (min-width: 600) {
    #section2 {
      width: 100%;
      min-height: auto;
      max-height: 4800px;
    }
}

.section2-container {
    background: url(../img/korea-train.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.section2-container2 {
    width: 100%;
    min-height: 1800px;
    height: auto;
    padding: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .section2-container2 {
      width: 100%;
      height: auto;
    }
}

.seoul-attractions {
    min-width: 100%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .seoul-attractions {
      width: 100%;
      height: auto;
    }
}

.seoul-attraction {
    height: auto; 
    width: 100%; 
    /* margin-block-start: 3em;  */
    margin-block-end: 2em;
}

.what-to-do {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@media only screen and (max-width: 500px) {
    #map {
      width: 100%;
      height: 350px;
    }
}

@media only screen and (min-width: 600px) {
    #map {
      width: 100%;
      height: 350px;
    }
}

.section3-container {
    background: url(../img/korea-zizimy.jpeg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.section3-container2 {
    width: 100%;
    min-height: 1800px;
    height: auto;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.food-seoul {
    margin-block-start: 1em; 
    margin-block-end: 2em;
}

.food-seoul-map {
    width: 270px; 
    height:270px;
}

.food-seoul-map {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.food-seoul-map:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hover-food {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-food:hover {
    opacity: .5;
}

/* food image grid */

.food-seoul.gangnam_image {
    width: 100%;
    height: 400px;
}

#food1 { grid-area: food1; }
#food2 { grid-area: food2; }
#food3 { grid-area: food3; }
#food4 { grid-area: food4; }

.gangnam_image {
    display: grid;
    grid-template-areas: 
    'food1 food4 food4 food4 food3 food3'
    'food1 food4 food4 food4 food3 food3'
    'food1 food4 food4 food4 food2 food2'
    'food1 food4 food4 food4 food2 food2';
    grid-gap: 10px;
    padding: 10px;
}

#mangoplate {
    width: 130px; 
    height: 70px;
}

.section4-container {
    background: url(../img/meetup_together.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.section4-container2 {
    width: 100%;
    /* min-height: 1800px; */
    height: auto;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.seoul-meetup.description figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

#meetup {
    width: 220px; 
    height: 200px;
}


.seoul-meetup {
    margin-block-start: 1em; 
    margin-block-end: 2em;
}

#carousel{
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 50%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 400px;
    min-height: 400px;
    width: 50%;
}

#section5 {
    text-align: center;
    width: 100%;
    height: auto;
}

.section5-container {
    width: 100%; 
    height: 120px; 
    padding-top: 50px;
}

.contact.jiwon {
    padding-block-start: 1em; 
    padding-block-end: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.jiwon.profile {
    width: 300px;
    height: 280px; 
    border-radius: 50%;  
    padding-block-start : 2em;
}

.jiwon.desc {
    padding-block-start: 2em;
}

.gform.pure-form.pure-form-stacked {
    width: 65%;
    padding-block-start: 1em; 
    padding-block-end: 2em;
}

/* email */
.email-form {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
} 

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

.personal.icons {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 180px;
}

