
/* ---- Base Rules ---- */
body {
    margin: 0;
    /* font-family: 'Merriweather', serif; */
    color: #fff;
}


/* Typeography General*/
h1 {
     /* font-family: 'Fira Sans', sans-serif; */
    font-size: 2em;
    margin: 2em 1rem;
    color: black;
    border: 1px solid blue;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 4em;
        margin: 1.5em 2rem 0em;
    }
}

h2 {
    border-bottom: 1px solid #f54242;
    /* font-family: 'Oxygen', Sans-Serif; */
    font-size: 4em;
    color: #fff;
    color: black;
}

p {
    line-height: 1.6em;
    color: black;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: grey;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 12em;
    background: url(../img/travel.jpeg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    height: 650px;
}

.korea-logo{
    margin-left: 40px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    background: white;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background:green;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
    border: 1px solid red;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
    width: 50%;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

.section1-container {
    background: url(../img/hanok.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
}

.section2-container {
    background: url(../img/korea-train.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 500px;
}

.section3-container {
    background: url(../img/korea-zizimy.jpeg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
}

.section4-container {
    background: url(../img/meetup_together.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 500px;
}

.image__container {
    position: relative; 
    margin: auto;
    box-sizing: border-box; 
}

/* image slider */

.image-sliderfade {
    display: none;
}

img {
    vertical-align: middle;
}

.img-caption {
    color: #f2f2f2; 
    font-size: 15px; 
    padding: 17px 15px; 
    position: absolute; 
    /* right: 2px;  */
    bottom: 50px; 
    width: 40%; 
    /* background: rgba(0, 0, 0, .7);  */
    text-align: left;
  }

.dot {
  height: 5px; 
  width: 5px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: #ddd; 
  border-width: 5 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
}

.active {
    border-color: #666;
}

.fade {
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 2s; 
  animation-name: fade-image; 
  animation-duration: 2s; 
}

@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 

#carousel{
    width: 100%;
    height: 100%;
    border: 1px solid pink;
}

.carousel-inner {
    width: 50%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 400px;
    min-height: 400px;
    width: 50%;
}

/* food image grid */

#food1 { grid-area: food1; }
#food2 { grid-area: food2; }
#food3 { grid-area: food3; }
#food4 { grid-area: food4; }

.gangnam_image {
    display: grid;
    grid-template-areas: 
    'food1 food4 food4 food4 food3 food3'
    'food1 food4 food4 food4 food3 food3'
    'food1 food4 food4 food4 food2 food2'
    'food1 food4 food4 food4 food2 food2';
    grid-gap: 10px;
    padding: 10px;
}

