/* Header Styles */
.page__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* Navigation Styles*/
.navbar__menu {
    background: white;
    display: flex;
    justify-content: row;
    align-items: center;
}

.navbar__logo{
    width: 15%;
    font-family: 'Grandstander';
    text-decoration: none;
}
.navbar__menu ul {
    width: 80%;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar__menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .navbar__logo{
        width: 100%;
        font-size: 24px;
    }
    #navbar__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .navbar__menu .menu__link {
        width: 100%;
        font-size: 15px;
    }
    .navbar__toggleBtn {
        display: block;
    }

    #navbar__list.active {
        display: flex;
    }
}

/* ---- Base Rules ---- */
body {
    margin: 0;
    padding: 0;
    color: #fff;
}


/* Typeography General*/

h2 {
    border-bottom: 2px solid black;
    border-bottom-width: 1px;
    font-size: 4em;
    color: #fff;
    color: black;
}

h2#contact-header {
    border-bottom: none;
}

p {
    line-height: 1.6em;
    color: black;
}

.p-description {
    color: #2c3543;
    font-size: 1.5rem;
    font-weight: 300;
    margin-block-start: 1em; 
    margin-block-end: 2em;
}

.read-seoul {
    font-family: Miller Daily,Georgia,Times,Times New Roman,serif;
}

span {
    font-size: 30px; 
}


a:hover, a:visited, a:link, a:active {
    color: grey;
    text-decoration: none !important;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: 'Give You Glory', cursive;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    text-decoration: none;
}

.cool-link:hover::after {
    width: 100%;
    text-decoration: none;
}

.Welcome {
    min-height: 40vh;
    margin: 0 10px;
    background: url(../img/travel.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    min-height: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.korea-header-letter {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px){
    .korea-header-letter {
        top: 100px;
        left: 0px;
        right: 0px;
    }
    .korea-header-letter .seoul{
        font-size: 25px;
   
    }
}

.south-korea {
    font-size: 60px;
    color: white;
    height: 30%;
    text-transform: uppercase;
    
}

.seoul {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.south-korea-link {
    color: white;
    font-size: 20px;
}

.korea-header-logo{
    position: absolute;
    top: 490px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.korea-header-logo img {
    max-width: 100px;
}

@media only screen and (max-width: 500px){
    .korea-header-logo img {
        max-width: 60px;
    }
}

@media only screen and (max-width: 300px){
    .korea-header-logo img {
        max-width: 50px;
    }
}

section {
    position: relative;
    min-height: 80vh;
}

.landing__container {
    padding: 1em;
    text-align: left;
    width: 50%;
    height: auto;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

.section1-container {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.landing__container__image {
    width: 50%;
}

.landing__container__image img {
    width: 100%;
    height: 100%;
}

.section1-container2 {
    width: 100%;
    max-height: 950px;
    height: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.seoul-description {
    min-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-emphasis: center;
    margin-block-end: 2em;
}

.why-seoul-read-more {
    margin-block-end: 2em;
}

.seoul-image {
    width: 100%;
    height: auto;
    text-align: center;
    margin-block-end: 3em;
}

.seoul-image .image-sliderfade img {
    max-width: 90%;
    width: 100%;
    height: 400px;
}

.seoul-image .image-dot {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

/* image slider */

.image-sliderfade {
    display: none;
}

img {
    vertical-align: middle;
}

.img-caption {
    color: #f2f2f2; 
    position: absolute;
    bottom: 50px;
    left: 100px;
}

@media only screen and (max-width: 500) {
    .img-caption {
      position: absolute;
      right: 0;
      left: 0px;
      bottom: 200px;
    }
}

.dot {
  height: 5px; 
  width: 5px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: #ddd; 
  border-width: 5 px; 
  border-style: solid; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
}

.active {
    border-color: #666;
}

.fade {
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 2s; 
  animation-name: fade-image; 
  animation-duration: 2s; 
}

@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 

.seoul_description {
    max-width: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 {
    width: 100%;
    height: auto;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    #section2 {
      width: 100%;
      height: auto;
    }
}

@media only screen and (min-width: 600) {
    #section2 {
      width: 100%;
      min-height: auto;
      max-height: 4800px;
    }
}

.section2-container {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 500px;
    padding: 4em;
}

.section2-container2 {
    width: 100%;
    min-height: 1800px;
    height: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .section2-container2 {
      width: 100%;
      height: auto;
    }
}

.seoul-attractions {
    min-width: 100%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .seoul-attractions {
      width: 100%;
      height: auto;
    }
}

.seoul-attraction {
    height: auto; 
    width: 100%; 
    /* margin-block-start: 3em;  */
    margin-block-end: 2em;
}

.what-to-do {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@media only screen and (max-width: 500px) {
    #map {
      width: 100%;
      height: 350px;
    }
}

@media only screen and (min-width: 600px) {
    #map {
      width: 100%;
      height: 350px;
    }
}

.section3-container {
    height: auto;
    min-height: 500px;
    padding: 4em;
    display: flex;
    flex-direction: row;
}

/* @media only screen and (min-width: 501px) { */
    .section3-container2 {
        width: 100%;
        /* min-height: 1800px;
        height: auto; */
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    /* }
}  */


@media only screen and (max-width: 500px) {
    .section3-container2 {
        width: 100%;
        height: auto;
    }
    .food-seoul {
        text-align: center;
    }
} 

.food-seoul {
    margin-block-start: 1em; 
    margin-block-end: 2em;
}

@media only screen and (max-width: 500px) {
    .food-seoul.shinchon.image {
        width: 100%;
    }
}

.food-seoul-map {
    width: 270px; 
    height:270px;
}

.food-seoul-map {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.food-seoul-map:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hover-food {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-food:hover {
    opacity: .5;
}

/* food image grid */

@media only screen and (min-width: 501px) {
    .food-seoul .gangnam_image {
        width: 100%;
        height: 400px;
    }
    
    #food1 { grid-area: food1; width: 200px; height: 100%; }
    #food2 { grid-area: food2; width: 100%; height: 100%; }
    #food3 { grid-area: food3; width: 100%; height: 100%; }
    #food4 { grid-area: food4; width: 100%; height: 100%; }
    
    .gangnam_image {
        display: grid;
        grid-template-areas: 
        'food1 food4 food4 food4 food3 food3'
        'food1 food4 food4 food4 food3 food3'
        'food1 food4 food4 food4 food2 food2'
        'food1 food4 food4 food4 food2 food2';
        grid-gap: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .food-seoul .gangnam_image {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .food-seoul .gangnam_image img {
        width: 100%;
        height: 100%;
    }
    
    .food-seoul .gangnam_image #food1 { width: 200px; height: 100%; }
}

#mangoplate {
    width: 130px; 
    height: 70px;
}

.section4-container {
    height: auto;
    min-height: 500px;
    padding: 4em;
    display: flex;
    flex-direction: row;
}

.section4-container2 {
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.seoul-meetup.description figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

#meetup {
    width: 220px; 
    height: 180px;
}

.seoul-meetup.carousel {
    width: 70%; 
    height:100%; 
    margin-left: 15%;
}

#carousel{
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 50%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 400px;
    min-height: 400px;
    width: 50%;
}

#section5 {
    text-align: center;
    width: 100%;
    height: auto;
}

.section5-container {
    width: 100%; 
    height: 120px; 
    padding-top: 50px;
}

.contact.jiwon {
    padding-block-start: 1em; 
    padding-block-end: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.jiwon.profile {
    width: 300px;
    height: 280px; 
    border-radius: 50%;  
    padding-block-start : 2em;
}

.jiwon.desc {
    padding-block-start: 2em;
}

.gform.pure-form.pure-form-stacked {
    width: 65%;
    padding-block-start: 1em; 
    padding-block-end: 2em;
}

/* email */
.contact .email {
    width: 100%;
}

.email-form {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
} 

.form-group {
    width: 100%;
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 500px) {
    .form-group {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.form-group label {
    width: 20%;
}

.form-group input {
    width: 80%;
}

.form-group textarea {
    width: 80%;
}

@media only screen and (max-width: 500px) {
    #section1 {
        width: 100%;
    }
    .section1-container,
    .section2-container,
    .section3-container,
    .section4-container,
    .section5-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }

    .landing__container {
      width: 100%;
      height: 100%;
    }
    
    .landing__container__image {
      width: 100%;
      height: 100%;
    }
    .landing__container__image img{
        width: 100%;
        height: 100%;
      }
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

.personal.icons {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 180px;
}

